body {
  text-align: center;
  font-family: 'Manjari', Sans-Serif;
}

.navbar {
  overflow: hidden;
  background-color: #4287f5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height:50px;
  width: 100%; /* Full width, boi!  */
}

/* Links inside the navbar */
.navbar a {
  height: 100%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height:-webkit-fill-available;
  transition: box-shadow 0.2s;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #4287f5;
  box-shadow: inset 5px 5px 10px #3369bf,
            inset -5px -5px 10px #51a5ff;
  color: white;
  transition: box-shadow 0.2s;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
	margin: 0;
	padding: 0;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
}

.pfp {
  text-align: center;
}

.dark > img {
  box-shadow:  10px 10px 20px #181818,
             -10px -10px 20px #262626;
}

.projects-box a {
  color: black;
  text-decoration: none;
}

.project {
    box-shadow: 1px 1px 10px #999;
    display: grid-item;
    }

.projects-box {
  background-color: #eee;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
  box-shadow: 3px 3px 10px #c9c9c9;
}
.news-box {
  background-color: #eee;
  color: black;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  box-shadow: 3px 3px 10px #c9c9c9;
}

/*dark theme*/
.dark > .navbar {
  background-color: #2f2f2f;
}

/* Links inside the navbar */
.dark > .navbar a {
  float: left;
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: box-shadow 0.35s;
}

/* Change background on mouse-over */
.dark > .navbar a:hover {
  background: #2f2f2f;
  box-shadow: inset 7px 7px 14px #282828,
            inset -7px -7px 14px #363636;
  color: #eee;
  transition: box-shadow 0.2s;
}

/* Main content */
.dark > .main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
	color:#eee;
}

*:not(button) {
margin: 0;
padding: 0;
}

.dark > .goButton {
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  5px 5px 10px #181818,
             -5px -5px 10px #262626;

}

.dark > .pfp {
  text-align: center;
}

.dark > p {
  color: white;
}

.dark > .projects-box {
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  7px 7px 14px #1a1a1a,
             -7px -7px 14px #242424;
  color: #eee;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px 5px 5px 5px;
}
.dark > .news-box {
  background: linear-gradient(145deg, #212121, #1c1c1c);
  box-shadow:  7px 7px 14px #1a1a1a,
             -7px -7px 14px #242424;
  color: #eee;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px 5px 5px 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.dark > .projects-box a {
  color: #eee;
  text-decoration: none;
}

body.dark {
  background-color:#1f1f1f
}
.dark > #username {
  color:#eee
}
/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}
.dark > * {
  color: #eee;
}
.dark .flex-container {
  display: flex;
  background-color: #2f2f2f;
  justify-content: center;
}
.one {
  border-radius: 6px;
  width:55%;
  margin:0 10% 20px 10%;
}

.dark .flex-container > div {
  background-color: #3f3f3f;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50%;
}

.grid-item {
  background-color: #4287f5;
}

.imageBox:hover {
  box-shadow:  5px 5px 10px #b6b6b6,
             -5px -5px 10px #ffffff;
  transition: box-shadow 0.5s;
}

.imageBox {
  transition: box-shadow 0.5s;
}

.dark > .imageBox:hover {
  box-shadow:  8px 8px 28px #131313,
             -8px -8px 28px #2b2b2b;
  transition: box-shadow 0.2s;
}

.projecticon {
  font-size: 4em;
}

.featuredproject > img {
  box-shadow:  14px 14px 28px #c7c7c7,
             -14px -14px 28px #ffffff;
}
