body {
  text-align: center;
  font-family: 'Manjari', Sans-Serif;
}

.navbar {
  overflow: hidden;
  background-color: #4287f5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height:50px;
  width: 100%; /* Full width, boi!  */
}

/* Links inside the navbar */
.navbar a {
  height: 100%;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height:-webkit-fill-available;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
	margin: 0;
	padding: 0;
}

.button {
  background-color: #ffffff;
  color: black;
  border-radius: 2px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  justify-content: center;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
}

.pfp {
  text-align: center;
}

img {
    box-shadow: 3px 3px 50px black;
    margin: 10px;
}

.dark > img {
  box-shadow: 3px 3px 50px black;
}

.projects-box a {
  color: black;
  text-decoration: none;
}

.project {
    box-shadow: 1px 1px 10px #999; 
    display: grid-item;
    }

.projects-box {
  background-color: #eee;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow: auto;
  box-shadow: 3px 3px 10px #c9c9c9;
}
.news-box {
  background-color: #eee;
  color: black;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  box-shadow: 3px 3px 10px #c9c9c9;
}

/*dark theme*/
.dark > .navbar {
  background-color: #2f2f2f;
}

/* Links inside the navbar */
.dark > .navbar a {
  float: left;
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.dark > .navbar a:hover {
  background: #3f3f3f;
  color: #eee;
}

/* Main content */
.dark > .main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
	color:#eee;
}

*:not(button) {
margin: 0;
padding: 0;
}

.dark > .pfp {
  text-align: center;
}

.dark > p {
  color: white;
}

.dark > .projects-box {
  background-color: #3f3f3f;
  color: #eee;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px 5px 5px 5px; 
  box-shadow: 3px 3px 50px black;
}
.dark > .news-box {
  background-color: #3f3f3f;
  color: #eee;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px 5px 5px 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: center;
  box-shadow: 3px 3px 10px black;
}

.dark > .projects-box a {
  color: #eee;
  text-decoration: none;
}

body.dark {
  background-color:#1f1f1f
}
.dark > #username {
  color:#eee
}
/* material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}
.dark > * {
  color: #eee;
}
.dark .flex-container {
  display: flex;
  background-color: #2f2f2f;
  justify-content: center;
}
.one {
  border-radius: 6px;
  width:55%;
  margin:0 10% 20px 10%;
}

.dark .flex-container > div {
  background-color: #3f3f3f;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50%;
}

.grid-item {
  background-color: #4287f5;
}

.projecticon {
  font-size: 4em;
}
